:root {
    --green: #00897b;
    --light-grey: #6f6f6f;
    --inactive-grey: #adadad;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 10%;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 1px 0 7px rgba(0, 0, 0, .5);
}

nav .logo {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.fa-home {
    color: var(--green);
    font-size: 2em;
}

nav .links {
    float: right;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

nav .links a:hover {
    color: var(--green);
}


#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: var(--green);
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

main {
    margin-top: 8%;
    position: relative;
}

.introduction-section {
    width: 55%;
    margin: auto;
}

.name {
    font-size: 3em;
    font-weight: 700;
    margin: 1em 0;
}

.job-info {
    font-size: 2.5em;
    margin: auto;
    margin: .8em 0;
}

.personal-info {
    font-size: 1.7em;
    margin: .8em 0;
    color: var(--light-grey)
}

.highlight {
    background-color: var(--green);
    color: #fff;
}

.about-me {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: auto;
}

.about-me-header {
    flex: 0 0 100%;
}

.about-me-article {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.about-me-article p:nth-child(2) {
    flex: 1 0 70%;
    padding-left: 1.5em;
}

.section-intro {
    width: 15%;
    margin-top: 5em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.5em;
    font-weight: 700;
    font-size: 1.5em;
    background-color: var(--green);
    color: #fff;
}

.projects-grid {
    display: grid;
    margin: 1em 2.5em;
    grid: 1fr / 1fr 1fr;
    column-gap: 2em;
    row-gap: 3.5em;
    background-color: #fff;
}

.project-img {
    overflow: hidden;
    width: 100%;
    margin-bottom: 1em;
}

.project-header {
    margin-bottom: .5em;
    font-weight: 700;
    font-size: 1.5em;
}

.project-technologies {
    display: inline-block;
    margin-bottom: 1em;
    width: 100%;
}

.project-technologies > svg {
    width: 5em;
    height: 5em;
    padding-right: 1em;
}

.project-link {
    margin-top: 1em;
    padding: .4em .6em;
    border: var(--green) 3px solid;
    display: inline-block;
    color: var(--green);
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.project-link:hover {
    color: #fff;
    background-color: var(--green);
}

.single-project {
    padding: 1.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    animation-name: project-card-animation-after-hover;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

.single-project:hover {
    animation-name: project-card-animation-on-hover;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

@keyframes project-card-animation-on-hover {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

@keyframes project-card-animation-after-hover {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

#contact {
    width: 10%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-bottom: 5em;
    padding: 3em 5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.contact-form {
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-field {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--inactive-grey);
    margin-bottom: 3em;
    font-size: 1.1em;
    transition: all .5s ease;
}

.form-field:focus {
    border-bottom: 2px solid var(--green);
}


.form-label {
    position: absolute;
    top: 1em;
    color: var(--inactive-grey);
}

.form-label-textarea {
    position: absolute;
    top: 0;
    color: var(--inactive-grey);
}


.form-field-input {
    height: 3em;
}

.form-field-textarea {
    margin-bottom: 0;
}




@media screen and (max-width: 500px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 10%;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }

    nav .links a {
        font-size: 20px;
        color: #fff;
    }

    nav :checked~.links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;
    }

    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }

}